<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GameBay HomePage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <style>
        .jumbotron{
            margin-top: 30px;
        }
        .logo-text{
            color:#eda007;
        }
    </style>
</head>
<body style = "font-family: 'Roboto', sans-serif;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">Game<span class="logo-text">Bay</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form>
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Wyszukaj grę.." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">
                    <i class="fas fa-user-plus"></i>
                    Rejestracja</a>
            </li>
            <li class="nav-item dropdown mr-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <div class="dropdown-item">
                        Koszyk jest pusty!
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cart">Przejdź do koszyka</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col" style="width:20%;">
                <img src="https://gamepedia.cursecdn.com/minecraft_pl_gamepedia/thumb/7/7d/Xbox_One_Edition_Cover.png/200px-Xbox_One_Edition_Cover.png"
                     class="card-img-top" alt="..." style="width:300px; height:400px">
            </div>
            <div class="col" style="width:80%;">
                <h2 class="display-4" th:text = "${game.getTitle()}">Title</h2>
                <p class="lead" th:text = "${game.getUser().getUsername()}">User</p>
                <hr class="my-4">

                <span th:text="${game.getPrice()}">Price</span>
                <img src="../static/images/icon.jpg" style="width:24px; height: 24px;" th:src="@{/images/icon.png}"/>

                <br/>
                <div class="lead">
                    <form class = "float-right" th:action = "@{/addToCart(id=${game.getId()})}" method="post">
                        <button type="submit" class="btn btn-sm btn-primary float-right">Dodaj do koszyka</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <h2>Zobacz również</h2>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%; height:100%">
                <div class="card-body">
                    <div class="row">
                    <div class="col">
                        <img src="https://gamepedia.cursecdn.com/minecraft_pl_gamepedia/thumb/7/7d/Xbox_One_Edition_Cover.png/200px-Xbox_One_Edition_Cover.png"
                             class="card-img-top" alt="..." style="width:200px; height:300px">
                    </div>
                    <div class="col">
                        <h2 class="display-4" th:text = "${game.getTitle()}"></h2>

                        <hr class="my-4">

                        <span th:text="${game.getPrice()}"></span>
                        <img src="../static/images/icon.jpg" style="width:24px; height: 24px;" th:src="@{/images/icon.png}"/>

                        <br/>
                        <div class="lead">
                            <form class = "float-right" th:action = "@{/addToCart(id=${game.getId()})}" method="post">
                                <button type="submit" class="btn btn-sm btn-primary float-right">Dodaj do koszyka</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%; height:100%">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="https://gamepedia.cursecdn.com/minecraft_pl_gamepedia/thumb/7/7d/Xbox_One_Edition_Cover.png/200px-Xbox_One_Edition_Cover.png"
                                 class="card-img-top" alt="..." style="width:200px; height:300px">
                        </div>
                        <div class="col">
                            <h2 class="display-4" th:text = "${game.getTitle()}"></h2>
                            <hr class="my-4">

                            <span th:text="${game.getPrice()}"></span>
                            <img src="../static/images/icon.jpg" style="width:24px; height: 24px;" th:src="@{/images/icon.png}"/>

                            <br/>
                            <div class="lead">
                                <form class = "float-right" th:action = "@{/addToCart(id=${game.getId()})}" method="post">
                                    <button type="submit" class="btn btn-sm btn-primary float-right">Dodaj do koszyka</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>