<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GameBay Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link type="text/css" href="../static/css/panelstyle.css" th:href="@{/css/panelstyle.css}" rel="stylesheet"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">Game<span class="logo-text">Bay</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form>
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Wyszukaj grę.." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/panel}">
                    <i class="far fa-user"></i>
                    <span th:text="${user.getUsername()}"/>
                </a>


            </li>
            <li class="nav-item dropdown mr-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <div th:each="game : ${user.getCart()}">
                        <a class="dropdown-item" href="#" th:text="${game.getTitle()}"></a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cart">Przejdź do koszyka</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left">
    <a class="navbar-brand" href="/panel">Panel Użytkownika</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/panel">Panel użytkownika</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/transactions">Historia transakcji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/offers">Moje oferty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>

    </div>

</nav>

<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-md-0">
            <div class="card border border-secondary rounded" style="height:100%;">
                <div class="card-body card-color">

                    <h1 class="card-title">
                        <i class="fas fa-user fa-3x"></i>
                        <th:block th:text="|  ${user.getUsername()}|"/>
                    </h1>

                    <p class="card-text" th:text="|Id użytkownika:   ${user.getId()}|"></p>
                    <p th:text="|Adres e-mail:  ${user.getEmail()}|"></p>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card border border-secondary rounded" style="height:100%;">
                <div class="card-body card-color">

                    <h1 class="card-title">
                        <img src="../static/images/icon.png" style="width:50px; height:54px;"
                             th:src="@{/images/icon.png}"/>
                        Saldo <span class="logo-text">g</span>Coin</h1>
                    <div class="container inline-display">
                        <h1 class="card-text" th:text="${user.getCoinBalance()}"></h1>
                    </div>
                    <a href="/addCoins" style="background-color:#eda007" class="btn btn-primary bottom ">Doładuj</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row rel">


        <div class="col-sm-12">
            <div class="card border border-secondary rounded">
                <div class="card-body card-color">

                    <h1 class="card-title"><span class="fas fa-user-cog fa-3x"></span> Ustawienia konta</h1>

                    <div class="container">
                        <div class="row rel">

                            <div class="col-lg-6">

                                <form th:action="@{/panel}" th:method="post">
                                    <h2>Zmiana Email</h2>
                                    <div class="form-group">
                                        <label for="changeEmailInput">Adres Email</label>
                                        <input type="email" th:name = "email" class="form-control" id="changeEmailInput"
                                               aria-describedby="emailHelp" placeholder="Adres Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="RetypeEmailInput">Powtórz Email</label>
                                        <input type="password" class="form-control" id="RetypeEmailInput"
                                               placeholder="Powtórz Email">
                                    </div>

                                    <button type="submit" class="btn btn-primary" style="background-color:#eda007">
                                        Zatwierdź
                                    </button>
                                </form>

                            </div>

                            <div class="col-lg-6">
                                <form>
                                    <div class="form-group">
                                        <h2>Zmiana hasła</h2>
                                        <label for="changePasswordInput">Hasło</label>
                                        <input type="password" class="form-control" id="changePasswordInput"
                                               th:name = "password" placeholder="Hasło">
                                    </div>
                                    <div class="form-group">
                                        <label for="retypePasswordInput">Powtórz hasło</label>
                                        <input type="password" class="form-control" id="retypePasswordInput"
                                               placeholder="Powtórz hasło">
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="background-color:#eda007">
                                        Zatwierdź
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
